:root{
    --orange:orange;
    --green: #518153;
    --white:white;
    --black:black;
    --lightgray:rgb(219, 219, 219);
    --gray:rgb(58, 57, 57);
}

*{
    margin:0px;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}

.nav{
    display:grid;
    grid-template-columns:auto auto;
    justify-content:space-between;

    padding:15px;
    padding-left:50px;
    padding-right:50px;

    background-color:var(--white);
    color:var(--gray);

    font-family:'Courier New', Courier, monospace;
}

.fa-solid{
    cursor:pointer;
}

.sevenways-container{
   display:flex;
   flex-direction:column;
   justify-content:center;
   justify-content:space-evenly;
    
    height:95vh;
    background-image:url('pictures/happy.jpg');
    background-size:cover;
    background-position:center;

    color:var(--white);

    font-size:1.5rem; 
    padding:3rem;
}

.sevenways-container > p{
    width:30rem;
}



@media only screen and (max-width:600px){
    .sevenways-container{
        background-position:20% 100%;
        font-size:1.3rem;
    }

    .sevenways-container > p{
        width:10rem;
    }
}


.columns-container{
    display:grid;
    grid-template-columns:repeat(5, 20%);
}

.columns-image{
    grid-area:1/1/4/6; 
    background-image:url('pictures/friends.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
}

.columns-text{
    grid-area: 3/2/5/5;
    gap:1rem; 
    color:white;
    text-align:center;

    display:grid;
    grid-auto-flow:column;

    line-height:2rem;
}

.enjoy-moment{
    background-color:var(--orange);
    padding:1rem;
    
}

.schedule-time{
    background-color:var(--green);
    padding:1rem;
}

.gratitude{
    background-color:var(--orange);
    padding:1rem;
}

.columns-text h3{
    font-size:1.5rem;
    padding:1rem;
}

.columns-text  p{
    text-align:left; 
}

.columns-info{
    font-weight:bold;
    text-decoration:underline;
    padding-top:1.5rem;
    cursor:pointer;
}

@media only screen and (max-width:600px){
    .columns-container{
        display:flex;
    }
    
    .columns-text{
        display:flex;
        flex-direction:column;
    }
}

.hobbies-section{
    display:flex;
    place-content:center;
    gap:10rem;
 }
 
 .image-container{
     background-color:var(--orange);
     width:40rem;
     height:auto; 
     
     margin:4rem;
     padding:4rem;
 
     display:flex;
     place-content:center;
     place-items:center;
 }
 
 .person-image > img{
     width:20rem;
     height:20rem;
     border-radius:100%;
 }
 
 
 .hobbies-text{
     display:flex;
     flex-direction:column;
     justify-content:space-evenly;

     width:40rem;
 }


 
 @media only screen and (max-width: 600px){
     .hobbies-section{
         flex-direction:column;
         gap:0rem;
     }
 }
 
 @media only screen and (max-width: 600px){
     .image-container{
        
         max-width:100%;
         max-height:auto;
         padding:auto;
         margin:auto;
         margin-top:2rem;
     }

     .person-image > img{
        width:12rem;
        height:auto;
     }
 }

 @media only screen and (max-width: 600px){
    .hobbies-text{
        margin:1rem;
        padding:1rem;

        width:22rem;

        display:flex;
        justify-content:space-evenly;
        height:20rem;
    }

    .hobbies-text > h3, button{
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }
 }
 
 /* --------------------- */

.habits-container{
    display:flex;
    gap:10rem;
    margin:5rem;
}

.habits-text{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    height:18rem;
}

.circle{
    height:4rem;
    width:4rem;
    background-color:var(--orange);
    border-radius:100%;
    margin-top:1rem;
}

.habits-image{
   height:auto;
}

@media only screen and (max-width: 600px){
    .habits-container{
        display:flex;
        flex-direction:column-reverse;

        padding:0rem;
        margin:0rem;
        gap:2rem;
    }
    .habits-image > img{
      
        width:100vw;
    }
    .habits-text{
        margin:1rem;
        padding:1rem;
    }
}

.daily-container{
    display:flex;
    flex-direction:row;
    gap:3rem;

    margin:5rem;
}

.daily-section{
    display:flex;
    flex-direction:column;
    gap:3rem;
}

.daily-image > img{
    height:50vh;
    width:30vw;
}

ul{
    background:var(--green);
    width:15rem;
    padding:1rem;
    line-height:1.5rem;
    color:var(--white);
}

ul li{
    list-style-type:decimal;
    list-style-position:inside;
    padding:0.200rem;
}

.daily-text{
    display:flex;
    flex-direction:column;
    height: 13rem;
    justify-content: space-between;
}

@media only screen and (max-width: 600px){
    .daily-container{
       display:flex;
       flex-direction:column;
       padding:0rem;
       margin:0rem;

    }
    .daily-image > img{
        width:100vw;
    }
}

@media only screen and (max-width: 600px){
    .daily-list{
        margin-left:auto;
        margin-right:auto;

        padding:1rem;
    }
}

@media only screen and (max-width:600px){
    .daily-text{
       
        margin-left:auto;
        margin-right:auto;

        text-align:left;
        padding:1rem;

        height:18rem;

        display:flex;
        justify-content:space-evenly;
    }

    .daily-text button, h3{
        margin-left:auto;
        margin-right:auto;
    }
}


.journal-section{
    display:flex;
    place-items:center;
    justify-content:space-around;
    gap:5rem;
    background-color:var(--lightgray);

    padding:3rem;
}

.journal-text{

   display:flex;
   flex-direction:column;
   
    line-height:5rem;
}

 .journal-text-one{
    display:flex;
    flex-direction:row;    
}

.journal-text  h3 {
    padding-right:2rem;
    font-size:3rem;
    color:var(--orange);
}


 .journal-secondsection{
    display:flex;
    flex-direction:column;
    place-items:center;
    height:30rem;
    width:40rem;

    background-color:var(--white);
}

 .journal-image > img{
    
    margin-top:2rem;

    width:30%;
    height:30%;
    border-radius:100%;

}

.journal-secondtext{
    text-align:center;
    padding: 3rem;
}

.journal-image > img{
    
    width:200px;
    height:200px;
    border-radius:100%;
}


@media only screen and (max-width:600px){
    .journal-section{
        display:flex;
        flex-direction:column;
    }
}

@media only screen and (max-width:600px){
    .journal-text{
        padding:1rem;
        margin:0rem;
        line-height:2.2rem;
        
    }
}

@media only screen and (max-width: 600px){
    .journal-secondsection{
      width:85%;
      height:32rem;
    }

}

.subscribe-container{
    
    background-color:var(--orange);
    color:var(--white);
    text-align:center;
}


.subscribe{
    padding-top:5rem;
    padding-bottom:1rem;
    margin-bottom:3rem;
    font-size:3rem;
}

.subscribe > span{
    border-bottom: solid var(--white);
    border-width:0.6rem;
    padding:0.8rem;
}

form > input{
    width:20rem;
    padding:0.4rem;
    margin:0.3rem;
    border:none;
   }

.submit{
    color:var(--white);
    background-color:var(--green);
    font-weight:bold;
    cursor:pointer;
}

.subscribe-text{
    padding-top:2rem;
    padding-bottom:2rem;
}

.subscribe-logo{
    padding-bottom:5rem;
    display:flex;
    justify-content:center;
    gap:1rem;
    cursor:pointer;
}

.possible-container{
    display:flex;
    flex-direction:row;
    gap:10rem;

    background-color:var(--white);
    margin:5rem;
   }

 .possible-text{ 
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
   }
   
   .possible-text > h3{
       background-color:var(--orange);
       padding:1rem;
       margin-left:auto;
       margin-right:auto;
       font-size:2rem;
       color:var(--white);
   }
 
   .possible-text > button{
        margin-left:auto;
        margin-right:auto;
   }
   
   .grateful-element{
        display:flex;
        flex-direction:column;
        place-content:center;

       background-color:var(--green);
      
       text-align:center;
       color:var(--lightgray);

       padding:6rem;
       
   }
   .graterul-image > img{
       width:25rem;
       height:25rem;
       
       border-radius:100%;
   }


@media only screen and (max-width:600px){
   .possible-container{
        display:flex;
        flex-direction:column;
        padding:0rem;
        margin:0rem;
        gap:1rem;
   }

   .possible-text{
    margin:1rem;
    padding:1rem;

    height:22rem;
    display:flex;
    justify-content:space-evenly;
    
   }
    .grateful-element{
        padding:auto;
        margin:1rem;
    }
    .graterul-image > img{
        width:12rem;
        height:12rem;
    }
}

.forest-image{
    height:100vh;
    background-image:url('pictures/forest.jpg');
    background-repeat:no-repeat;
    background-size:cover;

    display:flex;
    justify-content:center;
    align-items:flex-end;

}

.forest-text{
    width:25rem;
    text-align:center;
    color:var(--white);

    /* position:absolute;
    top:70%; */
  
}

.forest-text p{
    color:var(--lightgray);
    padding:1rem;
}

.footer{
    background-color:var(--gray);
    height:6rem;

    display:flex;
    justify-content:center;
    align-items:center;
    color:var(--white);

    text-align:center;
}

button{
    width: 160px;
    height: 60px;
    color:var(--white);
    background-color: var(--orange);
    border:none;
    border-radius: 15px;
    font-weight:bold;
    cursor:pointer;
    font-size:1.2rem;   
}

button:hover{color:var(--black);}